# 案例2:销售数据分析
场景:某公司销售数据如下,请完成以下任务:
1. 计算每种产品的总销售额(销售额 = 单价 × 销量)。
2. 找出销售额最高的产品。
3. 按销售额从高到低排序,并输出所有产品信息。
---

In [4]:
import pandas as pd

data = {
    '产品名称': ['A', 'B', 'C', 'D'],
    '单价': [100, 150, 200, 120],
    '销量': [50, 30, 20, 40]
}
df = pd.DataFrame(data)
df['总销售额'] = df['单价'] * df['销量']
df

  产品名称   单价  销量  总销售额
0    A  100  50  5000
1    B  150  30  4500
2    C  200  20  4000
3    D  120  40  4800

In [5]:
df.nlargest(1, columns=['总销售额'])

  产品名称   单价  销量  总销售额
0    A  100  50  5000

In [6]:
df.sort_values('总销售额', ascending=False)

  产品名称   单价  销量  总销售额
0    A  100  50  5000
3    D  120  40  4800
1    B  150  30  4500
2    C  200  20  4000

# 案例 3：电商用户行为分析

### 场景说明
某电商平台的用户行为数据如下，请完成以下任务：

### 任务要求

1. 计算每位用户的总消费金额
   （消费金额 = 商品单价 × 购买数量）

2. 找出消费金额最高的用户，并输出其所有信息

3. 计算所有用户的平均消费金额（保留 2 位小数）

4. 统计“电子产品”的总购买数量

---

In [9]:
import pandas as pd

data = {
    '用户ID': [101, 102, 103, 104, 105],
    '用户名': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    '商品类别': ['电子产品', '服饰', '电子产品', '家居', '服饰'],
    '商品单价': [1200, 300, 800, 150, 200],
    '购买数量': [1, 3, 2, 5, 4]
}

df = pd.DataFrame(data)
df

   用户ID      用户名  商品类别  商品单价  购买数量
0   101    Alice  电子产品  1200     1
1   102      Bob    服饰   300     3
2   103  Charlie  电子产品   800     2
3   104    David    家居   150     5
4   105      Eve    服饰   200     4

In [11]:
df['总消费金额'] = df['商品单价'] * df['购买数量']
df

   用户ID      用户名  商品类别  商品单价  购买数量  总消费金额
0   101    Alice  电子产品  1200     1   1200
1   102      Bob    服饰   300     3    900
2   103  Charlie  电子产品   800     2   1600
3   104    David    家居   150     5    750
4   105      Eve    服饰   200     4    800

In [24]:
print('消费金额最大的用户\n', df.loc[df['总消费金额'] == df.总消费金额.max()])
print('平均消费金额\n', df['总消费金额'].mean())
print('电子产品总的购买数量\n', df[df['商品类别'] == '电子产品']['购买数量'].sum())

消费金额最大的用户
    用户ID      用户名  商品类别  商品单价  购买数量  总消费金额
2   103  Charlie  电子产品   800     2   1600
平均消费金额
 1050.0
电子产品总的购买数量
 3